

@{

    ViewBag.Title = "About";
}

<body >
    
    <div style="width:40%;float:left;" class="container well well-sm" >
        <p style="font-size:30px;color:black; font-family: Andalus">
            My name is MA(Muhammad Ammar).
            I am a student Of <a href="http://www.pu.edu.pk/" style="color:green">
                University Of Punjab
            </a>,
            Department <a href="http://www.pucit.edu.pk/" style="color:green">
                Punjab University College
                Of Information Technology
            </a>.This is term project of 6th semester given by our
            Honourable Respected Teacher BJI(Bilal Javed Iqbal).
            I got addmission in 2012 in IT.
            Roll # is BITF12M039.<br />I passed my intermediate from <a href="http://www.giccl.edu.pk/" style="color:green">GICCL</a>(Govt. Islamia College Civil Lines Lahore) in 2012.<br />
            I passed my matric from Govt. Islah E Muashra High School, Shad Bagh Lahore.I got 891 marks in 2010.
            <br /><br />
            

    </div>

    <div class="container well-sm well pull-left " style="width:60%;float:right; ">
        <div class="panel-body hvr-bounce-out">
            <div id="slider" class="action  hide-from-mobile">
                <img src="~/Content/22377588.jpg">
                <img src="~/Content/College.jpg">
                <img src="~/Content/PU.jpg">
                <img src="~/Content/PUCIT.jpg">
                <img src="~/Content/Capture1.PNG" />
                


            </div>
        </div>
    </div>
  @*  <div style="width:60%;float:right; ">

        <div class="panel-body hvr-bounce-out">
            <div id="slider" class="action  hide-from-mobile">
                <img src="~/Content/22377588.jpg">
                <img src="~/Content/College.jpg">
                <img src="~/Content/Capture1.PNG" />
                <img src="~/Content/Ammar%20pic.PNG" />


            </div>
            <br /><br /><br />
        </div>


    </div>*@
</body>

