
@{

    ViewBag.Title = "Contact";
}

<body >

    <div class="container well well-sm col-lg-8 pull-right " >
        <p style="font-size:20px; color:black;">
            You can contact to me at these I.D:

            <br />

            
        </p>

        <br />
        <p style="font-size:20px; ">At Hotmail</p>
        <ul style="font-size:20px;">
            <li>bitf12m039@yahoo.com </li>
        </ul>
        <br />
        <p style="font-size:20px; ">At Gmail</p>
        <ul style="font-size:20px;">
            <li>ammar4546589@gmail.com            </li>
            <li>bitf12m039@pucit.edu.pk            </li>
        </ul>

        <br />
        
        <a href="https://www.facebook.com/muhammad.ammar.14473426"><img src="~/Content/Facebook.jpg" alt="Follow me" style="width:200px;height:100px;" /></a>
        <br />
        <br /><br />
        



    </div>


</body>